<h1><%= @result %></h1>
<a target="_blank" href="https://twitter.com/intent/tweet?url=https://programming-pun.herokuapp.com&text=<%= @result %>">
  <button class="tweet">ツイートする</button>
</a>

<a target="_blank" href="https://forms.gle/LdRZJjv2xM1MXaqb8">ダジャレを投稿する</a>