<h1><%= @message %></h1>
<a target="_blank" href="https://twitter.com/intent/tweet?url=https://hibino-kubi.herokuapp.com/<%= @bool %>&text=<%= @message %> #お前仕事出来ひんぞメーカー">
  <button class="tweet">ツイートする</button>
</a>