<h1><%= @result %></h1>
<a target="_blank" href="https://twitter.com/intent/tweet?url=https://programming-pun.herokuapp.com&text=<%= @result %>">
  <button class="tweet">ツイートする</button>
</a>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfg43S7e3PdnNf7KWYi2C5meX-fba1ND-Cqq5QYCswnb7bULw/viewform?embedded=true" width="640" height="493" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>